*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;


}


body{
  font-family: Arial;
}

.showcase {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 0 20px;
}

.video-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  /* z-index: -1; */
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
}

.login-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 400px;
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  color: #fff;
  text-align: center;
}

/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .login-box {
    width: 80%;
  }
}

.login-box h2{
  margin:0 0 30px;
  padding: 0;;
  color:#fff;
  text-align: center;
  

}

.login-box p{
  margin: 10px;
  padding: 0;;
  color:#fff;
  text-align: center;
  font-size: 16px;

}

.login-box p>span{
  margin: 10px;
  padding: 0;;
  color:#03e9f4;
  text-align: center;
  font-size: 16px;


}
.login-box .user-box{
  position: relative;
}

.login-box .user-box input{
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border:none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
}

.login-box .user-box label{
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;


}

.login-box .user-box input:focus~label,
.login-box .user-box input:valid~label{
  top: -20px;
  left: 0;
  color: #03e9f4;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  columns: #03e9f4;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: 0.5s;
  margin-top: 40px;
  letter-spacing: 4px;
}

.login-box form button:hover{
  background-color: #03e9f4;
  color:#fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #03e9f4
              0 0 5px #03e9f4
              0 0 5px #03e9f4
              0 0 5px #03e9f4;

}